<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Giua App
  ~ Android app to view data from the giua@school workbook
  ~ Copyright (C) 2021 - 2022 Hiem, Franck1421 and contributors
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see https://www.gnu.org/licenses/.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.giua.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiuaApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.BugReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.CaocActivity"
            android:label="Errore"
            android:process=":error_activity" />
        <activity
            android:name=".ui.activities.LogdogViewerActivity"
            android:label="LogDog viewer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.giua.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />
        </provider>

        <activity
            android:name=".ActivityManager"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityManager" />
        </activity>
        <activity
            android:name=".ui.activities.AutomaticLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityManager" />
        </activity>
        <activity
            android:name=".ui.activities.StudentLoginActivity"
            android:exported="true"
            android:label="Student Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityManager" />
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="Impostazioni"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityManager" />
        </activity>
        <activity
            android:name=".ui.activities.AccountsActivity.AccountsActivity"
            android:label="Gestione account"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity" />
        <activity
            android:name=".ui.activities.AboutLicenseActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity" />
        <activity
            android:name=".ui.activities.TransparentUpdateDialogActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".ui.activities.AppIntroActivity"
            android:label="label"
            android:theme="@style/Theme.GiuaApp.NoActionBar" />

        <receiver
            android:name=".CheckNewsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>