<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.giua.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiuaApp"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.giua.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />
        </provider>

        <activity
            android:name=".ActivityManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MainLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityManager" />
        </activity>

        <activity
            android:name=".ui.activities.AutomaticLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityManager" />
        </activity>

        <activity
            android:name=".ui.activities.StudentLoginActivity"
            android:label="Student Login"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".ui.activities.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity"
            android:launchMode="singleTop">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityManager" />
        </activity>

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="Impostazioni"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiuaApp.NoActionBar"
            tools:ignore="LockedOrientationActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityManager" />
        </activity>

        <activity
            android:name=".ui.activities.AboutActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity" />

        <activity
            android:name=".ui.activities.AboutLicenseActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity" />

        <activity
            android:name=".ui.activities.TransparentUpdateDialogActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />

        <activity
            android:name="com.giua.app.ui.activities.AppIntroActivity"
            android:label="label"
            android:theme="@style/Theme.GiuaApp.NoActionBar" />

        <activity
            android:name="com.giua.app.ui.activities.CustomDokiActivity"
            android:label="label"
            android:theme="@style/Theme.GiuaApp.NoActionBar" />

        <receiver
            android:name=".CheckNewsReceiver"
            android:exported="false" />
    </application>

</manifest>